body {
    font:12px/1.231 arial,helvetica,clean,sans-serif;
    background-color:#fff;
    margin:0;
}
table {
    font-size:inherit;
    font:100%;
}
pre,code,kbd,samp,tt{
    font-family:monospace;
    *font-size:108%;
    line-height:100%;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
img {
    border:0;
}
h1 {
    /*18px*/
    font-size:158.5%;
}
h2 {
    /*16px*/
    font-size:143.1%;
    }
h3 {
    /*14px*/
    font-size:108%;
}
h1,h2,h3 {
    /* top & bottom margin based on font size */
        margin:5px 0;
}
h1,h2,h3,h4,h5,h6,strong {
    font-weight:bold;
}
abbr,acronym {
    border-bottom:1px dotted #000;
    cursor:help;
}
em {
    font-style:italic;
}
blockquote,ul,ol,dl {
    margin:1em;
}
ol,ul,dl {
    margin-left:2em;
}
ol li {
    list-style: decimal outside;
}
ul li {
    list-style: disc outside;
}
dl dd {
    margin-left:1em;
}
table {
    border-collapse:collapse;
    border-spacing:0px;
}

th {
    /*distinguishing table headers from data cells*/
    font-weight:bold;
    text-align:center;
}
caption {
    /*coordinated marking to match cell's padding*/
    margin-bottom:.5em;
    /*centered so it doesn't blend in to other content*/
    text-align:center;
}
p,fieldset,table {
    /*so things don't run into each other*/
    margin-bottom:1em;
}