
/* CLICKTIP CSS */
#vTipHead {
    z-index: 9999992;
    background-image: url(/assets/img/clickTipHead.png);
    height: 20px;
    line-height: 18px;
    font-size: 11px;
    color: #FFF;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 15px;
}

#vTipContent {
    background-image: url(/assets/img/clickTipBody.png);
    line-height: 1.2em;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#vTipFoot {
    background-image: url(/assets/img/clickTipFoot.png);
    height: 13px;
    line-height: 13px;
    background-repeat: no-repeat;
}

#vTipArrow {
    background-image: url(/assets/img/clickTipArrow.png);
    background-position: center;
    width: 29px;
    height: 15px;
    margin-top: -10px !important;
    margin-top: -13px;
    margin-left: 137px;
}

.tip {
    display: block;
    padding-top: 1px;
    overflow: hidden;
    height: 17px;
    width: 17px;
    background: url(/assets/img/icon-question.png) no-repeat;
    cursor: pointer;
}

.tip:hover {
    background-position: 0 -17px;
}