.pager{
	float:right;
	height:100%;
}
.pager select {
	vertical-align:middle;
	margin-top:-1px;
}
.pager >  div {
    border-left: 1px solid #ccc;
    display: table-cell;
    padding: 3px 4px 0;
	vertical-align:middle;
	height:100%;
}

.pageDisplay{
	min-width: 71px;
	text-align:center
}

.tablesorter tfoot tr td {
    padding: 0;
}

.pager span {
	display:inline-block;
    height: 17px;
    overflow: hidden;
    width: 18px;
	margin:2px 2px 0;
}
.butPrev, .butPrevOff {
    background: url(/assets/img/but-back.png) no-repeat;
}

.butNext, .butNextOff {
    background: url(/assets/img/but-next.png) no-repeat;
}
.butNext:hover, .butPrev:hover {
	background-position: 0 -17px;
    cursor: pointer;
}
