a.date {
    color: #000;
    text-decoration: none;
    font-weight: normal;
    cursor: help;
}
#container {
    position: relative;
    background-color: #fff;
    padding: 10px 20px;
    ;
    min-width: 925px;
}
iframe {
    border: 0px;
}
label {
    cursor: pointer;
}
a, a:active, a:visited, a:link {
    color: #034b92;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
a:hover {
    border-bottom: 1px dotted #034b92;
    cursor: pointer;
}
.opaque50 {
    opacity: .50;
    filter: alpha(opacity=50);
}
#breadcrumb {
    margin: -11px 0 13px;
    font-size: .95em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.breadcrumbArrow {
    margin: 0 5px;
    color: #636363;
}
.subhead {
    background-image: url(/assets/img/pixel-d7d7d7.png);
    background-position: 0 63%;
    background-repeat: repeat-x;
    width: 99.5%;
    margin-top: 15px;
}
.subheadText {
    display: block;
    font-weight: bold;
    font-size: 1.4em;
    color: #0f3740;
    padding-right: 11px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 3px;
    margin: 0 auto 7px;
    auto;
}
/**********************/

/** CSS Short Cuts  **/
 .center {
    text-align: center;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.top {
    vertical-align: top;
}
.formLabel {
    text-align: right;
}
.red {
    color: #ff0000;
}
.black {
    color: #000
}
.white {
    color: #fff;
}
.small {
    font-size: .95em;
}
.xsmall {
    font-size: .85em;
}
.grey3 {
    color: #333;
}
/* Main  Style */
 .box {
    border: 1px solid;
    border-top: none;
    border-color: #ccc;
    padding: 0px 0 0px;
    display: block;
    margin-top: 0px;
    margin-bottom: 14px;
    line-height: 1.4em;
}
.main {
    float: left;
    width: 645px;
}
.centerGroup {
    width: 950px;
    margin-left: auto;
    margin-right: auto
}
.dash {
    font-size: 1.3em;
    background-image: url(/assets/img/head-tile.png);
    background-position: bottom;
    color: #000;
    padding: 2px 0 2px 10px;
    font-weight: bold;
    margin-top: 17px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.thead th {
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px;
}
/* End Main Style */

/* START Global DIVs */
 #header {
    min-width: 965px;
}
#content {
    position: relative;
    text-align: left;
    padding: 0 25px 15px;
    min-width: 925px;
    min-height: 500px;
}
#content > h1{
    margin:1em 0 .75em .25em;
    margin-top:1em;
}
#content h1 + p{
    font-size:1.2em;
    margin:-.5em 0 1.5em .5em;
}
#content h1 + p:after {
    display: block;
    clear: both;
    content:" ";
    height: 0;
    overflow: hidden;
}
/*Form Styles */
 form {
    margin: 0px;
    padding: 0px;
}
input {
    padding: 1px;
}
.formLabel {
    text-align: right;
}
.errorMsg {
    color: #ff0000;
    font-style: italic;
}
/********************************/

/********** Float Fix **********/
 .clearfix:after {
    content:".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Holly Hack Targets IE Win only \*/
 * html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* End Holly Hack */

/* revised clear all */
 .clearall {
    clear: both;
    display: block;
    margin: 0px;
    padding: 0px;
    height: 0px;
    line-height: 1px;
    font-size: 0px;
}
/****** START SIDE BOX *******/
 .side {
    display: block;
    float: right;
    width: 250px;
    margin-top: 45px;
}
/******** End SIDE BOX *******/

/*********************/

/*Rollovers */
 .butEdit, .butDelete, .butResults, .butYes, .butNo {
    width: 73px;
    height: 23px;
    display: block;
    overflow: hidden;
}
.butEdit {
    background: url(/assets/img/but_edit.png) no-repeat;
}
.butDelete {
    background: url(/assets/img/but_delete.png) no-repeat;
}
.butResults {
    background: url(/assets/img/but_results.png) no-repeat;
}
.butYes {
    background: url(/assets/img/but_yes.png) no-repeat;
}
.butNo {
    background: url(/assets/img/but_no.png) no-repeat;
}
.butEdit:hover, .butDelete:hover, .butResults:hover, .butYes:hover, .butNo:hover {
    background-position: 0 -23px;
    cursor: pointer;
    border: none;
}
.butSave, .butPrevious, .butNext, .butSend {
    width: 113px;
    height: 39px;
    display: block;
    overflow: hidden;
    cursor: pointer;
}
.butSave {
    background: url(/assets/img/but_save.png) no-repeat;
}
.butSend {
    background: url(/assets/img/but_send.png) no-repeat;
}
.butPrevious {
    background: url(/assets/img/but_previous.png) no-repeat;
}
.butNext {
    background: url(/assets/img/but_next.png) no-repeat;
}
.butSave:hover, .butPrevious:hover, .butNext:hover, .butSend:hover {
    background-position: 0 -39px;
    cursor: pointer;
}
/* v4 Buttons */
 .lrgBtn {
    width: auto;
    height: auto;
    padding: 5px
}
.lrgBtn:hover {
    cursor: pointer
}
#plus {
    width: 13px;
    height: 0px;
    display: inline-block;
    overflow: hidden;
    padding-top: 13px;
    align: absmiddle;
    background: url(/assets/img/icon-plus.png) no-repeat;
    margin-bottom: -2px;
    margin-top: 2px;
    margin-right: 5px;
}
#plus:hover {
    background-position: 0 -13px;
    cursor: pointer;
}
#plus2 {
    width: 13px;
    height: 0px;
    display: inline-block;
    overflow: hidden;
    padding-top: 13px;
    align: absmiddle;
    background: url(/assets/img/icon-plus.png) no-repeat;
    margin-bottom: -2px;
    margin-top: 2px;
    margin-right: 5px;
    background-position: 0 -13px;
}
#plus2:hover {
    background-position: 0 -13px;
    cursor: pointer;
}
/* Tool Tip */
 .aTipHeader {
    color: #fff;
    padding: 0;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 5px;
    height: 25px;
}
.aTipBottom {
    height: 0px;
    background-image: url(/assets/img/tip-bottom.png);
    background-repeat: no-repeat;
    background-position: 125px 0px;
    padding-top: 20px;
    margin-top: 5px;
    margin-bottom: -26px;
}
.aToolTip {
    background: #ffffff;
    background-image: url(/assets/img/help-tile.png);
    background-repeat: repeat-x;
    border: 1px solid #999;
    margin: 0;
    padding: 2px 12px 6px 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webKit-border-radius: 5px;
    width: 275px;
    line-height: 1.4em;
}
.aToolTip .aToolTipContent {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}
.tip {
    display: inline-block;
    padding-top: 17px;
    overflow: hidden;
    height: 1px;
    width: 17px;
    background: url(/assets/img/icon-question.png) no-repeat;
    cursor: pointer;
    margin-bottom: -3px;
    border: none;
}
.tip:hover {
    border: none;
    background-position: 0 -17px;
}
.smllBtn {
    width: 73px;
    height: 22px;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
.action {
    width:160px !important;
    white-space: nowrap;
    vertical-align: middle;
}
.actionSelect {
    font-size: 12px;
    vertical-align: middle;
    width: 121px;
}

.go {
    font-size: 12px;
    vertical-align: middle;
    padding:1px 6px;
    
}
.headerBox {
    background: rgb(232, 232, 232);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(232, 232, 232, 1) 1%, rgba(243, 243, 243, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(232, 232, 232, 1)), color-stop(100%, rgba(243, 243, 243, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(232, 232, 232, 1) 1%, rgba(243, 243, 243, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(232, 232, 232, 1) 1%, rgba(243, 243, 243, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(232, 232, 232, 1) 1%, rgba(243, 243, 243, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#f3f3f3', GradientType=0);
    /* IE6-9 */
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 7px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.5em;
}
.overAllBox {
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 25px;
}
.arrowToggle {
    width: 9px;
    height: 9px;
    background: url(/assets/img/arrow-toggle.png) no-repeat;
    background-position: 0px 0px;
    display: block;
    float: left;
    margin-top: 7px;
}
.arrowToggle:hover {
    cursor: pointer;
}
.submit {
    background: -ms-linear-gradient(top, #f7f7f7 0%, #f2f2f2 3%, #f1f1f1 7%, #ececec 30%, #ebebeb 47%, #dcdcdc 53%, #dadada 73%, #d1d1d1 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%, #f2f2f2 3%, #f1f1f1 7%, #ececec 30%, #ebebeb 47%, #dcdcdc 53%, #dadada 73%, #d1d1d1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(3%, #f2f2f2), color-stop(7%, #f1f1f1), color-stop(30%, #ececec), color-stop(47%, #ebebeb), color-stop(53%, #dcdcdc), color-stop(73%, #dadada), color-stop(100%, #d1d1d1));
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #f2f2f2 3%, #f1f1f1 7%, #ececec 30%, #ebebeb 47%, #dcdcdc 53%, #dadada 73%, #d1d1d1 100%);
    background: -moz-linear-gradient(top, #f7f7f7 0%, #f2f2f2 3%, #f1f1f1 7%, #ececec 30%, #ebebeb 47%, #dcdcdc 53%, #dadada 73%, #d1d1d1 100%);
    background: linear-gradient(to bottom, #f7f7f7 0%, #f2f2f2 3%, #f1f1f1 7%, #ececec 30%, #ebebeb 47%, #dcdcdc 53%, #dadada 73%, #d1d1d1 100%);
    border: 1px solid #3c7fb1;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#d1d1d1', GradientType=0);
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 142px;
    margin-top: 10px;
}
.submit:hover {
    background: -moz-linear-gradient(top, #e9f6fd 0%, #e9f6fd 47%, #bce4fa 50%, #bce4fa 100%);
    background: -ms-linear-gradient(top, #e9f6fd 0%, #e9f6fd 47%, #bce4fa 50%, #bce4fa 100%);
    background: -o-linear-gradient(top, #e9f6fd 0%, #e9f6fd 47%, #bce4fa 50%, #bce4fa 100%);
    background: -webkit-linear-gradient(top, #e9f6fd 0%, #e9f6fd 47%, #bce4fa 50%, #bce4fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9f6fd', endColorstr='#bce4fa', GradientType=0);
    background: linear-gradient(to bottom, #e9f6fd 0%, #e9f6fd 47%, #bce4fa 50%, #bce4fa 100%);
}
.smallsubmit {
    background: url(/assets/img/submit-bg.png);
    background-position: 0 -7px;
    border-radius: 3px;
    -webKit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #3c7fb1;
    height: 20px;
    width: 100px;
}
.smallsubmit:hover {
    background-position: 0 -40px;
    cursor: pointer;
}

.newButton {
    float: right;
    font-size: 13px;
    height: 35px;
    margin: 0 0 7px 7px;
    padding:0px 16px 0 0;
    width: 141px;
}
.newButton:after {
     background: url("/assets/img/button-add-lg.png") no-repeat scroll 0 0 transparent;
    content: " ";
    display: block;
    float: right;
    height: 16px;
    margin-right: -10px;
    position: relative;
    width: 16px;
}

input[type="text"]:focus, select:focus. select:active {
    border:1px solid #5794bf;
    outline: none;
}
input[type="button"], input[type="radio"], input[type="checkbox"] {
    cursor:pointer;
}
/*
Breadcrumb
*/
 #breadcrumb {
    border-bottom: 1px dotted #ccc;
    padding: 7px 0 0 30px;
    background: url(/assets/img/breadcrumb-bg.png) repeat-x;
    background-position: 0 11px;
    list-style: none;
    font-size: .95em;
    margin-top: -10px;
    height: 20px;
}
#breadcrumb ul {
    margin-top: -17px;
    padding-left: 5px;
}
#breadcrumb li:last-child {
    font-weight: bold;
}
#breadcrumb img:first-child {
    display: block;
    padding-bottom: 3px;
}
#breadcrumb li {
    float: left;
    background: url(/assets/img/breadcrumb-arrow.png) no-repeat;
    padding-left: 15px;
    margin-right: 15px;
    list-style: none;
}
#breadcrumb a:link, #breadcrumb a:visited, #breadcrumb a:active {
    text-decoration: none;
}
#breadcrumb a:hover {
    color: #ea9a2a;
}
.info label {
    float: left;
    width: 13em;
    text-align: right;
    margin-right: 0.5em;
    margin-top: 2px;
    display: block;
    font-size: 1em;
    cursor: pointer;
}
.info div {
    margin:2px 0;
}
.input select {
    width:200px;
}
.required {
    color: #173794;
    padding-left: 5px;
}
/*****************************
In Page Tab Menu
******************************/
 .inPageMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.inPageMenu li {
    float: left;
    margin: 0 0.15em;
    list-style: none;
}
.inPageMenu a:hover {
    text-decoration:none !important;
    color:#000;
    border-bottom:0px solid #ccc !important;
}
.inPageMenu a {
    color:#818485;
    font-weight:bold;
}
.inPageMenuTabOff {
    background: #f3f3f3;
    font-weight:normal;
    height: 26px;
    line-height: 2.0em;
    float: left;
    width: 8.75em;
    display: block;
    border: 1px solid #ccc;
    border-bottom:none;
    color: #222;
    text-decoration: none;
    text-align: center;
    font-size:1.1em;
    color:#ccc;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topRight: 3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
    border-top-right-radius: 3px;
}
a.tabby {
    background: url(/assets/img/inPage-navBg.png) #ccc top repeat-x;
    color:#222;
    font-size:1.2em;
    line-height: 1.7em;
    height: 25px;
    float: left;
    width: 9em;
    display: block;
    border: 1px solid #ccc;
    border-bottom:none;
    text-decoration: none;
    text-align: center;
    font-weight:bold;
    margin-bottom:0px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topRight: 3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
    border-top-right-radius: 3px;
    padding-top:2px;
}
a.tabby:hover {
    text-decoration:none !important;
}
/*
     Contextual menu
*/
 .contextMenu {
    background: url(/assets/img/icon-pulldown-blue.png) #fff center right no-repeat;
    padding-right:12px;
}
div.jjmenu {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 5px;
    border-radius:3px;
    margin-top:0px;
    margin-left:-2px;
    -moz-box-shadow: 3px 4px 2px #595959;
    -webkit-box-shadow: 3px 4px 2px #595959;
    box-shadow: 3px 4px 2px #595959;
    /* For IE 8 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#595959')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#595959');
    z-index:999999999;
}
div.jj_menu_item {
    color: #034b92;
    background: #fff;
    cursor: pointer;
    padding:0px 5px;
    font-weight:bold;
}
div.jj_menu_item:hover {
    background:#3078ae;
    cursor:pointer;
    border-radius:2px;
    color:#fff;
}
div.jj_menu_item span {
    display: block;
    padding: 4px 4px 5px 4px;
}
.loader {
    display: block;
    margin: auto;
    padding: 44px 0;
}
.widget-grouping {
    background: transparent url(/assets/img/icon-group.png) left center no-repeat;
    color: #034b92;
    cursor: pointer;
    display:inline-block;
    float:right;
    font-weight: bold;
    height:18px;
    margin:-26px 5px 0 0;
    outline: none;
    padding:8px 0 0 26px;
    text-decoration: none;
}
.widget-grouping img {
    padding: 0 0 1px 4px;
}
/****** Loader Style ******/
 #loaderDialog div.ui-dialog-titlebar {
    display : none;
}
div#loaderDialog.ui-widget-content {
    color: #fff;
    background: url(/assets/img/loader-bg.png) repeat;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border : none;
    border-radius : 11px;
    height : 70px;
    box-shadow : none;
}
#loaderDialog div.ui-dialog-content {
    background : none;
}
/*-------------------------*/
/* Loading dialog
/*-------------------------*/
 div.dialog-loading div.ui-dialog-titlebar {
    display:none;
}
div.dialog-loading {
    background: #000;
    border:1px solid #999;
    color:#fff;
    font-style:italic;
    font-weight:bold;
    opacity: .80;
    text-align:center;
    border-radius: 7px;
}
div.dialog-loading .ui-widget-content {
    color:#fff;
}
/*-------------------------*/
/* QueryField
/*-------------------------*/
#queryField {
    background: url("/assets/img/icon-search.png") no-repeat scroll 3px 2px #FFFFFF;
    border: 1px solid #999999;
    border-radius: 5px;
    font-size: 11.5px;
    padding-left: 17px;
    width: 0;
}
#queryField:focus {
    border: 2px solid #EA9A2A;
    border-radius: 7px;
    margin-top: -1px;
    outline: medium none;
}
#queryField input.queryFieldFocus {
    border: 2px solid #EA9A2A;
    border-radius: 7px;
    margin-top: -1px;
    outline: medium none;
}
#searchBox {
    border-left: 1px solid #CCCCCC;
    float: right;
    height: 100%;
    overflow: hidden;
    padding: 4px 3px 0;
    position: relative;
}
#searchClose {
    cursor: pointer;
    display: none;
    margin-left: -10px;
    margin-top: 0;
    position: absolute;
    right: 7px;
    top: 8px;
}